html {
  background-color: lightgray;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("../images/login_background.jpg");
  height: 100%;
  width: 100%;
}


.statsList{
  background-color:rgb(61, 214, 189);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
}

body {
  margin: 0;
  overflow: scroll;
  position: absolute;
  width: 100%;
  height: 100%;
}


h2 {
  margin: 0;
  padding: 0 0 20px;
  text-align: left;
  font-size: 22px;
  color: rgb(255, 255, 255);
  font-size: 2.5em;
  font-family: "BlendaScript";
  margin-bottom: 0.5cm;
  margin-top: 0.5cm;
  margin-left: 1cm ;
}

h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
  color: rgb(255, 255, 255);
  font-size: 2.5em;
  font-family: "BlendaScript";
  margin-bottom: 0.5cm;
  margin-top: 0.5cm;
}

.menu {
  background-color: rgb(61, 214, 189);
  font-size: 1.5em;
  text-align: center;
  align-items: center;
  font-style: monospace;
  font-style: bold;
  font-size: large;
  padding-top: 1em;
  padding-bottom: 1em;
  flex-direction: row;
  justify-content: space-evenly;
}

p {
  text-align: center;
  padding-top: 2mm;
  color: black;
}

.menu p {
  color: rgb(255, 255, 255);
  font-size: 3em;
  margin: 0 0 1em 0;
  font-family: "BlendaScript";
}

nav a:hover {
  /* font-size: 1.5em; */
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  text-decoration: underline;
}
nav a,
nav a:not(:first-child):before {
  margin-right: 1mm;
  border-radius: 0px;
  /* border-style: solid; */
  padding: 10px;
  color: black;
  font-family: "BlendaScript";
  font-size: 1em;
  text-decoration: none;
}

.data-columns div {
  display: inline-block;
  background-color: darkgreen;
  vertical-align: bottom;
}

@font-face {
  font-family: "BlendaScript"; /*a name to be used later*/
  src: url("../fonts/BlendaScript.ttf"); /*URL to font*/
}
select{
  align-items: center;
  margin: 8px;
  left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0.2cm;
  justify-content: space-evenly;
  margin-left: 0.1mm;
  background-color: rgb(255, 255, 255);
  font-size: .4cm;
  margin-left: 1cm;
}


input[type="button"],
input[type="submit"] {
  border: none;
  outline: none;
  height: 35px;
  background: rgb(61, 214, 189);
  color: rgb(0, 0, 0);
  font-size: 18px;
  margin-bottom: 10px;
  width: 57mm;
  cursor: pointer;
  margin-left: 1cm;
}

input[type="submit"]:hover {
  border: none;
  outline: none;
  height: 35px;
  background: rgb(224, 224, 224);
  color: rgb(0, 0, 0);
  font-size: 18px;
  margin-bottom: 10px;
  cursor: pointer;
  margin-left: 1cm;
  border: solid;
}

button{
  border: none;
  outline: none;
  height: 35px;
  background: rgb(61, 214, 189);
  color: rgb(0, 0, 0);
  font-size: 18px;
  margin-bottom: 10px;
  width: 5cm;
  cursor: pointer;
  margin-left: 1cm;
}

button:hover{
  border: none;
  outline: none;
  height: 35px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 18px;
  margin-bottom: 10px;
  cursor: pointer;
  margin-left: 1cm;
  border: solid;
}

.data-columns{
  background: white;
  border: solid;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  color: black;
  margin-left: 5cm;
  margin-right: 5cm;
}

/* .data-colums .style{
  color: aqua;
} */

#search{
  
  outline: none;
  height: 35px;
  
  color: rgb(0, 0, 0);
  font-size: 18px;
  
  margin-bottom: 10px;
  width: 5cm;
  margin-left: 1cm;
 
}

#searchInput{
  outline: none;
  height: 35px;
  
  color: rgb(0, 0, 0);
  font-size: 18px;
  
  margin-bottom: 10px;
  width: 5cm;
  margin-left: 1cm;

}