/* .search [type="text"]{
    border: none;
    outline: none;
    height: 35px;
    background: #17b639;
    color: rgb(0, 0, 0);
    font-size: 18px;
    border-radius: 20px;
    margin-bottom: 10px;
    width: 5cm;
} */