html {
  background-color: lightgray;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background-image: url('../images/login_background.jpg'); */
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.logInForm {
  width: 320px;
  height: 420px;
  background: rgb(93, 236, 217, 0.2);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 20px 30px;
}

.inputData label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: black;
}

.inputData input {
  width: 100%;
  margin-bottom: 5px;
}

.logInForm input[type="button"]:hover {
    cursor: pointer;
    background: #1a6353;
    /* color: #000;
    border-style: solid; */
}

.inputData input[type="email"], input[type="password"] {
    border: none;
    border-bottom: 1.5px solid rgb(0, 126, 109);
    background: transparent;
    outline: none;
    height: 25px;
    color: rgb(124, 124, 124);
    font-size: 16px;
}

.logInForm input[type="button"] {
    border: none;
    outline: none;
    height: 35px;
    background: #189e81;
    color: rgb(0, 0, 0);
    font-size: 18px;
    border-radius: 20px;
    margin-bottom: 10px;
    width: 5cm;
}

h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
  color: black;
  font-style: oblique;
  font-size: xx-large;
}

.menu {
  background-color: gray;
  font-size: 1.5em;
  text-align: center;
  align-items: center;
  font-style: monospace;
  font-style: bold;
  font-size: large;
  padding-top: 1em;
  padding-bottom: 1em;
  flex-direction: row;
  justify-content: space-evenly;
}

p { 
  text-align: center;
  padding-top: 2mm;
  color: black;
}

.logInForm a:hover {
    color: #0c0542;
}

.menu p {
  color: rgb(79, 173, 54);
  font-size: 2em;
  margin: 0 0 1em 0;
}

nav a:hover {  
  /* font-size: 1.5em; */
  color: rgb(0, 0, 0);
  background-color: rgb(60, 212, 205);
}

/* nav a:not(:first-child):before {
  content: "|";

} */

nav a, nav a:not(:first-child):before {
  margin-right: 1mm;
  border-radius: 0px;
  /* border-style: solid; */
  padding: 10px;
  color: black;
}

.data-columns {

}

.data-columns div {
  display:inline-block;
  background-color:red;
  vertical-align:bottom;
}