html {
    background-color: rgb(186, 250, 225);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.stopwatch {
    font-size: 3cm;
    font-family: monospace;
    font-weight: bold;
}



input[type="button"],
input[type="submit"] {
  cursor: pointer;
}


.menu {
  background-color: gray;
  font-size: 1.5em;
  text-align: center;
  align-items: center;
  font-style: monospace;
  font-style: bold;
  font-size: large;
  padding-top: 1em;
  padding-bottom: 1em;
}
  
.timerDiv{
    background-color: rgb(31, 148, 216);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    justify-content: center;
    background-image: url('../images/sea_picture.jpg');
}

.chooseSubject{
  align-items: center;
  margin: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1cm;
}

.menu p {
  color: rgb(79, 173, 54);
  font-size: 2em;
  margin: 0 0 1em 0;
}

/* SUBMIT BUTTON START */
.timerDiv input[type="button"], .timerDiv input[type="submit"] {
  border: none;
  outline: none;
  height: 35px;
  background: #fffb17;
  color: rgb(0, 0, 0);
  font-size: 18px;
  border-radius: 20px;
  margin-bottom: 10px;
  width: 5cm;
}

.timerDiv input[type="submit"]:hover {
  cursor: pointer;
  background: #d8c730;
}
/* SUBMIT BUTTON END */

/* START BUTTON START */
.timerButtons button[type="startButton"] {
  border: none;
  outline: none;
  height: 35px;
  background: #17b639;
  color: rgb(0, 0, 0);
  font-size: 18px;
  border-radius: 20px;
  margin-bottom: 10px;
  width: 5cm;
}

.timerButtons button[type="startButton"]:hover {
  cursor: pointer;
  background: #20a01c;
}
/* START BUTTON END */


/* PAUSE BUTTON START */
.timerButtons button[type="pauseButton"] {
  border: none;
  outline: none;
  height: 35px;
  background: #d48748;
  color: rgb(0, 0, 0);
  font-size: 18px;
  border-radius: 20px;
  margin-bottom: 10px;
  width: 5cm;
}

.timerButtons button[type="pauseButton"]:hover {
  cursor: pointer;
  background: #af814d;
}
/* PAUSE BUTTON END */

/* RESTART BUTTON START */
.timerButtons button[type="restartButton"] {
  border: none;
  outline: none;
  height: 35px;
  background: #a31a1a;
  color: rgb(0, 0, 0);
  font-size: 18px;
  border-radius: 20px;
  margin-bottom: 10px;
  width: 5cm;
}

.timerButtons button[type="restartButton"]:hover {
  cursor: pointer;
  background: #850b0b;
}
/* RESTART BUTTON END */

nav a:hover {  
  /* font-size: 1.5em; */
  color: rgb(0, 0, 0);
  background-color: rgb(60, 212, 205);
}

/* nav a {  
  font-size: 1.5em;
  color: whitesmoke;
} */

/* nav a:not(:first-child):before {
  content: "|";
} */

nav a, nav a:not(:first-child):before {
  margin-right: 1mm;
  border-radius: 0px;
  /* border-style: solid; */
  padding: 10px;
  color: black;
}

