html {
    background-color: lightgray;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.stopwatch {
    font-size: 3cm;
    font-family: monospace;
    font-weight: bold;
}



input[type="button"],
input[type="submit"] {
  cursor: pointer;
}


.menu {
  background-color: gray;
  font-size: 1.5em;
  text-align: center;
  align-items: center;
  font-style: monospace;
  font-style: bold;
  font-size: large;
  padding-top: 1em;
  padding-bottom: 1em;
}
  
.timerDiv{
    background-color: rgb(204, 174, 4);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    justify-content: center;
    background-image: url('../images/sea_picture.jpg');
}

.chooseSubject{
  align-items: center;
  margin: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1cm;
}

.menu p {
  color: rgb(79, 173, 54);
  font-size: 2em;
  margin: 0 0 1em 0;
}

.timerDiv input[type="button"], .timerDiv input[type="submit"] {
  border: none;
  outline: none;
  height: 35px;
  background: #1fc4a0;
  color: rgb(0, 0, 0);
  font-size: 18px;
  border-radius: 20px;
  margin-bottom: 10px;
  width: 5cm;
}
.timerButtons button[type="button"] {
  border: none;
  outline: none;
  height: 35px;
  background: #1fc4a0;
  color: rgb(0, 0, 0);
  font-size: 18px;
  border-radius: 20px;
  margin-bottom: 10px;
  width: 5cm;
}

.timerButtons button[type="button"]:hover {
  cursor: pointer;
  background: #1da185;
  /* color: #000;
  border-style: solid; */
}

.timerDiv input[type="button"]:hover {
  cursor: pointer;
  background: #1da185;
  /* color: #000;
  border-style: solid; */
}

nav a {  
  font-size: 1.5em;
  color: whitesmoke;
}

nav a:not(:first-child):before {
  content: "|";
}

nav a, nav a:not(:first-child):before {
  margin-right: 1em;
}

